@import "tailwindcss";
body{
  color: black;
}
.text-stroke {
  -webkit-text-stroke: 1px black;
}

.text-glow {
  color: white;
  text-shadow: 0 0 8px rgba(205,205,205,0.8);
}

 .glass {
  @apply bg-white/8 backdrop-blur-md border border-white/10 rounded-3xl shadow-xl;
}
.glass-sm {
  @apply bg-white/12 backdrop-blur-sm border border-white/8 rounded-2xl shadow-md;
} 
